html {
  height: 100%;
  background-image: url("./images/background.svg");
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  --width: 80vmin;
  --blue-color: rgb(94 172 181);
  --blue-color-hint: rgb(94 172 181 / 30%);
  --red-color: rgb(219 148 111);
  --red-color-hint: rgb(173 107 71 / 30%);
  --black-color: rgb(0 0 0);
  --default-font-size: min(0.9cm, 6vmin);
  --num-columns: 5;
  --square-diameter: calc(var(--width) / var(--num-columns));

  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
  font-size: var(--default-font-size);
  display: grid;
  grid-template-areas:
    "score"
    "board"
    "tokens"
    "controls";
  grid-template-rows: auto auto 1fr auto;
  height: 95vh;
  width: var(--width);
  justify-self: center;
  white-space: pre-wrap;
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  font-size: var(--default-font-size);
  font-family: sans-serif;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: black;
  margin: 0;
  padding: 1px 6px;
}

.board {
  display: grid;
  grid-area: board;
  background-color: white;
  grid-template-columns: repeat(var(--num-columns), var(--square-diameter));
  border: 1px solid black;
  width: fit-content;
  align-self: center;
}

.square {
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--square-diameter);
  height: var(--square-diameter);
}

.red {
  background-color: var(--red-color);
}

.blue {
  background-color: var(--blue-color);
}

.black {
  background-color: var(--black-color);
}

.star {
  background-image: url("./images/star.svg");
}

.circle {
  background-image: url("./images/circle.svg");
}

#tokens {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px;
  grid-area: tokens;
  width: 100%;
}

#score {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5vmin;
  font-weight: bold;
  grid-area: score;
  align-self: end;
  width: 100%;
}

#red-score {
  color: var(--red-color);
}

#blue-score {
  color: var(--blue-color);
}

.blue-hint {
  background: var(--blue-color-hint);
}

.red-hint {
  background: var(--red-color-hint);
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-area: controls;
  width: 100%;
}

#controls > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(var(--width) / 8);
  height: calc(var(--width) / 8);
  border: 3px solid lightgray;
}

#new-game {
  background-image: url("./images/new_game.svg");
}

#rules-button {
  background-image: url("./images/rules.svg");
}

#undo {
  background-image: url("./images/undo.svg");
}

.modal {
  background-image: url("./images/background.svg");
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr auto;
}

#settings {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: white;
  opacity: 80%;
  width: 100%;
  align-items: stretch;
}

.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin: 5vmin;
}

.setting-info {
  font-size: calc(var(--default-font-size) * 0.5);
}

#setting-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-self: end;
}

#setting-buttons > button {
  margin: 3vmin;
}

#rules-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rules-text {
  background-color: white;
  opacity: 80%;
  border-radius: 5px;
  padding: 2vmin;
  margin: 4vmin;
}

#rule-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0 0 5vmin;
}

#rule-navigation > button {
  margin: 3vmin;
  min-height: var(--default-font-size);
}

#tutorial-board {
  display: grid;
  background-color: white;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid black;
  width: fit-content;
  align-self: center;
}

.tutorial-square {
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 10vmin;
  min-height: 10vmin;
}

.hidden {
  display: none;
}

select {
  font-size: var(--default-font-size);
  font-family: sans-serif;
  background-color: darkgray;
  border: 1px solid darkgray;
  border-radius: 2px;
  text-align: center;
  color: black;
  margin: 0;
  padding: 1px 6px;
  height: fit-content;
}

input[type="checkbox" i] {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  min-width: var(--default-font-size);
  min-height: var(--default-font-size);
  border-radius: 2px;
  background-color: darkgray;
  border: 3px solid darkgray;
  margin: 0;
  padding: 1px 6px;
  height: fit-content;
}

input[type="checkbox" i]:checked {
  background-image: url("./images/checkmark-black.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Large screen */
@media (min-width: 15cm) and (min-height: 15cm) {
  #app {
    --width: min(10cm, 80vmin);

    width: fit-content;
  }
}

/* Landscape */
@media (orientation: landscape) {
  #root {
    flex-direction: row;
  }

  #app {
    --width: 70vmin;

    height: 95vh;
    width: 95vw;
    justify-self: center;
    grid-template-areas:
      "score tokens controls"
      "board tokens controls";
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr;
  }

  #tokens {
    flex-direction: column;
    align-items: center;
  }

  #score {
    margin: 0;
    align-self: center;
  }

  #controls {
    flex-direction: column;
    align-items: flex-end;
  }
}
