#modal-root {
    position: relative;
    z-index: 999;
}

.modal {
    font-size: 16px;
    font-weight: normal;
    background-color: rgb(0, 0, 0);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.tutorial {
    height: 450px;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.tutorialStep {
    overflow: hidden;
    color: lightgray;
    max-width: 250px;
}

.tutorial-text {
    margin: 10px;
}

.tutorial-board {
    max-width: 230px;
    margin: auto;
}

.red_token {
    color: var(--red_color);
}

.tutorial-navigation {
    color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

button:disabled {
    color: gray;
}

.square.step1_square1 {
    animation: step1_square1 6s infinite;
    animation-timing-function: step-end;
}

@keyframes step1_square1 {
    0% {
        color: transparent;
    }
    20%, 100% {
        background-color: var(--blue_color);
        color: black;
    }
}

.square.step1_square2 {
    animation: step1_square2 6s infinite;
    animation-timing-function: step-end;
}

@keyframes step1_square2 {
    0% {
        color: transparent;
    }
    50%, 100% {
        background-color: var(--red_color);
        color: black;
    }
}

.square.step1_square3 {
    animation: step1_square3 6s infinite;
    animation-timing-function: step-end;
}

@keyframes step1_square3 {
    0% {
        color: transparent;
    }
    80%, 100% {
        background-color: var(--blue_color);
        color: black;
    }
}

.square.step1_X {
    animation: step1_X 6s infinite;
    position: relative;
    color: var(--blue_color);
    animation-timing-function: linear;
}

@keyframes step1_X {
    0%, 3% {
        transform: translatex(0px) translatey(0px);
        color: var(--blue_color);
    }
    17%, 19% {
        transform: translatex(calc(-1*var(--square-height))) translatey(calc(-3*var(--square-height)));
        color: var(--blue_color);
        animation-timing-function: linear;

    }
    20% {
        transform: translatex(calc(-1*var(--square-height))) translatey(calc(-3*var(--square-height)));
        color: transparent;
        animation-timing-function: step-end;
    }
    21% {
        transform: translatex(0px) translatey(0px);
        color: transparent;
        animation-timing-function: step-end;
    }
    30%, 59% {
        transform: translatex(0px) translatey(0px);
        color: var(--red_color);
        animation-timing-function: step-start;
    }
    60%, 89% {
        transform: translatex(0px) translatey(0px);
        color: var(--blue_color);
        animation-timing-function: step-start;
    }
    90%, 100% {
        transform: translatex(0px) translatey(0px);
        color: var(--red_color);
        animation-timing-function: step-start;
    }
}

.square.step1_O {
    animation: step1_O 6s infinite;
    position: relative;
    animation-timing-function: linear;
    color: var(--blue_color);
}

@keyframes step1_O {
    0%, 29% {
        transform: translatex(0px) translatey(0px);
        color: var(--blue_color);
    }
    30%, 33% {
        transform: translatex(0px) translatey(0px);
        color: var(--red_color);
    }
    47%, 49% {
        transform: translatex(0px) translatey(calc(-5*var(--square-height)));
        color: var(--red_color);
        animation-timing-function: linear;
    }
    50% {
        transform: translatex(0px) translatey(calc(-5*var(--square-height)));
        color: transparent;
        animation-timing-function: step-end;
    }
    51% {
        transform: translatex(0px) translatey(0px);
        color: transparent;
        animation-timing-function: step-end;
    }
    60%, 63% {
        transform: translatex(0px) translatey(0px);
        color: var(--blue_color);
    }
    77%, 79% {
        transform: translatex(calc(-1*var(--square-height))) translatey(calc(-2*var(--square-height)));
        color: var(--blue_color);
        animation-timing-function: linear;
    }
    80% {
        transform: translatex(calc(-1*var(--square-height))) translatey(calc(-2*var(--square-height)));
        color: transparent;
        animation-timing-function: step-end;
    }
    81% {
        transform: translatex(0px) translatey(0px);
        color: transparent;
        animation-timing-function: step-end;
    }
    90%, 100% {
        transform: translatex(0px) translatey(0px);
        color: var(--red_color);
        animation-timing-function: step-start;
    }
}

.square.step2_X {
    animation: step2_X 2s infinite;
    position: relative;
    color: var(--red_color);
}

@keyframes step2_X {
    0%, 4%, 100% {
        transform: translatex(0px) translatey(0px);
    }
    60%, 99% {
        transform: translatex(calc(1*var(--square-height))) translatey(calc(-3*var(--square-height)));
        animation-timing-function: linear;
    }
}

.square.step4_score1 {
    animation: step4_score1 3s infinite;
    position: relative;
    color: black;
    animation-timing-function: step-end;
}

@keyframes step4_score1 {
    5%, 20% {
        color: yellow;
    }
    0%, 21%, 100% {
        color: black;
    }
}

.square.step4_score2 {
    animation: step4_score2 3s infinite;
    position: relative;
    animation-timing-function: step-end;

}

@keyframes step4_score2 {
    25%, 45% {
        color: yellow;
    }
    0%, 46%, 100% {
        color: black;
    }
}

.square.step4_score3 {
    animation: step4_score3 3s infinite;
    position: relative;
    animation-timing-function: step-end;
}

@keyframes step4_score3 {
    50%, 75% {
        color: yellow;
    }
    0%, 76%, 100% {
        color: black;
    }
}

.square.step4_score12 {
    animation: step4_score12 3s infinite;
    position: relative;
    animation-timing-function: step-end;

}

@keyframes step4_score12 {
    5%, 20%, 25%, 45%  {
        color: yellow;
    }
    0%, 21%, 46%, 100% {
        color: black;
    }
}

.step_ends_auto {
    animation: step_ends_auto 3s infinite;
    position: relative;
    animation-timing-function: step-end;
}

@keyframes step_ends_auto {
    50%,100% {
        background-color: var(--blue_color);
    }
}